<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Movies</title>
</head>
<body>
    <h1>My Movies</h1>
    <ul>
        <li><%= "A string" %></li>
        <li><%= 15.0 / 6.0 %></li>
        <li><%= Time.now %></li>
    </ul>
    <a href="/movies/new">Add New Movie</a>
</body>
</html>
